{% extends 'base.html' %}

{% block header %}
    {% if g.user %}
        <h2>Upload a File</h2>
        <p>Choose a valid Word document to add to the search index</p>
        <form action="{{ url_for('blog.create') }}" method=post class=add-entry enctype=multipart/form-data>
            <input type=file name=file>
            <input class="btn btn-lg btn-success" type=submit value=Upload>
        </form>
    {% endif %}
{% endblock %}

{% block content %}
    <h1>{% block title %}Entries{% endblock %}</h1>
    <hr>
    <ul class=entries>
    {% for entry in entries %}
        <li>
            <div class="col-8">
                <h3>{{ entry.title }}</h3>{{ entry.text|safe }}
                <form name="delete_entry" action="{{ url_for('blog.delete', id=entry.id) }}" method="post">
                    <input class="btn btn-danger" type=submit value=Delete>
                </form>

            </div>
        </li>
        {% if not loop.last %}
        <hr>
        {% endif %}
        {% else %}
        <li><em>Unbelievable. No entries here so far</em>
    {% endfor %}
    </ul>
{% endblock %}
